body {
    font-family: "Segoe UI", "Segoe", Tahoma, Helvetica, Arial, sans-serif;
    font-size: 13px;
    height: 100% !important;
    margin: 0;
    background-color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
}

.datePickerContainer {
    margin: 30px 0 0 30px;
}

.todayContainer {
    width: 6%;
    display: inline-block;
    text-overflow: ellipsis;
    padding: 8px 15px;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    border: 1px solid #d9e0e2;
    vertical-align: middle;
    height: 100%;
    cursor: pointer;
    margin-right: 20px;
    transition: all 0.3s;
}

.todayContainer:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transform: translate(0, -2px);
}

.dateSelector {
    width: 150px;
    display: inline-block;
    height: 34px;
    text-align: center;
    vertical-align: middle;
    margin-right: 50px;
}

.nextDate,
.previousDate {
    width: 68px;
    text-align: center;
    display: inline-block;
    height: 100%;
    cursor: pointer;
    font-size: 20px;
    line-height: 34px;
    transition: all 0.3s;
    border: 1px solid #d9e0e2;
}

.nextDate:hover,
.previousDate:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transform: translate(0, -2px);
}

.previousDate {
    border-right: 1px solid #cfcfcf;
    margin-right: 5px;
}

.currentDate {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    font-weight: 500;
}

#calendarContainer {
    width: 100%;
    margin: 75px 0 0 30px;
}

.timeDisplay {
    height: 70px;
    width: 8%;
    display: inline-block;
    vertical-align: top;
    font-weight: 500;
}

.timeMainDiv {
    width: 88%;
    height: 72px;
    background-color: #ebebeb;
    display: inline-block;
}

.halfDivs {
    height: 19px;
    width: 100%;
}

.isCalendarEvent {
    background: -webkit-linear-gradient(left, #ff3300, #ff7519); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #ff3300, #ff7519); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #ff3300, #ff7519); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #ff3300, #ff7519); /* Standard syntax */
    border-left: 2px solid #ff3300;
    cursor: pointer;
}

.eventBound {
    border-top: 2px dotted #fff;
}

.eventTitle {
    float: left;
    color: #fff;
    font-size: 15px;
    margin-left: 10px;
}

.eventTime {
    float: right;
    color: #fff;
    font-size: 15px;
    margin-right: 20px;
}

.eventTitle img {
    height: 17px;
    margin-top: 2px;
    width: 17px;
    overflow: visible;
    margin-right: 10px;
    vertical-align: top;
}
